# process sentiments scores file

In [282]:
import pandas as pd
df = pd.read_csv("archivednewssentiment.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22446 entries, 0 to 22445
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   URL           22446 non-null  object
 1   News          22446 non-null  object
 2   Type          22446 non-null  object
 3   Data          22446 non-null  object
 4   Polarity      22446 non-null  float64
 5   Subjectivity  22446 non-null  float64
dtypes: float64(2), object(4)
memory usage: 1.0+ MB

# change column name

In [283]:
df = df.rename(columns={'Data': 'Date'})
print(df['Date'])

0        02-01-2016
1        01-01-2016
2        01-01-2016
3        01-01-2016
4        04-01-2016
            ...
22441    30-03-2020
22442    30-03-2020
22443    30-03-2020
22444    30-03-2020
22445    30-03-2020
Name: Date, Length: 22446, dtype: object

# merge multiple polarity scores in one day

In [284]:
#notice : date format is day-month-year
df = df.loc[:, ['Type', 'Date','Polarity']].groupby(['Type','Date']).mean()
df = pd.DataFrame(df)
df.sort_values('Date')
df.info()
#df.head(50)
print(df.index)

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 3095 entries, ('apple', '01-01-2016') to ('microsoft', '31-12-2019')
Data columns (total 1 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Polarity  3095 non-null   float64
dtypes: float64(1)
memory usage: 45.5+ KB
MultiIndex([(    'apple', '01-01-2016'),
            (    'apple', '01-01-2017'),
            (    'apple', '01-01-2019'),
            (    'apple', '01-01-2020'),
            (    'apple', '01-02-2016'),
            (    'apple', '01-02-2017'),
            (    'apple', '01-02-2018'),
            (    'apple', '01-02-2019'),
            (    'apple', '01-02-2020'),
            (    'apple', '01-03-2016'),
            ...
            ('microsoft', '31-08-2018'),
            ('microsoft', '31-08-2019'),
            ('microsoft', '31-10-2016'),
            ('microsoft', '31-10-2017'),
            ('microsoft', '31-10-2018'),
            ('microsoft', '31-10-2019'),
            ('microsoft', '31-12-2016'),
            ('microsoft', '31-12-2017'),
            ('microsoft', '31-12-2018'),
            ('microsoft', '31-12-2019')],
           names=['Type', 'Date'], length=3095)

# Split date frame into two, match apple stock data and msft stock data

In [285]:
df_aapl, df_msft = [pd.DataFrame(y) for x, y in df.groupby('Type')]
print(df_aapl)
print(df_msft)
df_aapl.to_csv ('sentiment_appl.csv', header=True)
df_msft.to_csv ('sentiment_msft.csv', header=True)

                  Polarity
Type  Date
apple 01-01-2016  0.130946
      01-01-2017  0.190548
      01-01-2019  0.175678
      01-01-2020  0.140745
      01-02-2016  0.101898
...                    ...
      31-10-2019  0.052260
      31-12-2016  0.145080
      31-12-2017  0.112458
      31-12-2018  0.147748
      31-12-2019  0.128092

[1549 rows x 1 columns]
                      Polarity
Type      Date
microsoft 01-01-2016  0.110542
          01-01-2017  0.169369
          01-01-2018  0.137534
          01-01-2019  0.155147
          01-01-2020  0.091251
...                        ...
          31-10-2019  0.104248
          31-12-2016  0.175885
          31-12-2017  0.263010
          31-12-2018  0.125933
          31-12-2019  0.095390

[1546 rows x 1 columns]

# merge stock data with sentiment scores

In [286]:
aapl = pd.read_csv("AAPL.csv")
print(aapl)

            Date        Open        High         Low       Close   Adj Close  \
0     1980-12-12    0.513393    0.515625    0.513393    0.513393    0.406782
1     1980-12-15    0.488839    0.488839    0.486607    0.486607    0.385558
2     1980-12-16    0.453125    0.453125    0.450893    0.450893    0.357260
3     1980-12-17    0.462054    0.464286    0.462054    0.462054    0.366103
4     1980-12-18    0.475446    0.477679    0.475446    0.475446    0.376715
...          ...         ...         ...         ...         ...         ...
9911  2020-04-03  242.800003  245.699997  238.970001  241.410004  241.410004
9912  2020-04-06  250.899994  263.109985  249.380005  262.470001  262.470001
9913  2020-04-07  270.799988  271.700012  259.000000  259.429993  259.429993
9914  2020-04-08  262.739990  267.369995  261.230011  266.070007  266.070007
9915  2020-04-09  268.700012  270.070007  264.700012  267.989990  267.989990

           Volume
0     117258400.0
1      43971200.0
2      26432000.0
3      21610400.0
4      18362400.0
...           ...
9911   32470000.0
9912   50455100.0
9913   50721800.0
9914   42223800.0
9915   40529100.0

[9916 rows x 7 columns]

# change date format d-m-y to y-m-d,  match stock date format

In [287]:
df_aapl = pd.read_csv("sentiment_appl.csv")
df_aapl.info()
df_aapl['Date'] = pd.to_datetime(df_aapl['Date'])
df_aapl.info()
df_aapl.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1549 entries, 0 to 1548
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Type      1549 non-null   object
 1   Date      1549 non-null   object
 2   Polarity  1549 non-null   float64
dtypes: float64(1), object(2)
memory usage: 36.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1549 entries, 0 to 1548
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Type      1549 non-null   object
 1   Date      1549 non-null   datetime64[ns]
 2   Polarity  1549 non-null   float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 36.4+ KB

    Type       Date  Polarity
0  apple 2016-01-01  0.130946
1  apple 2017-01-01  0.190548
2  apple 2019-01-01  0.175678
3  apple 2020-01-01  0.140745
4  apple 2016-01-02  0.101898
5  apple 2017-01-02  0.109650
6  apple 2018-01-02  0.159016
7  apple 2019-01-02  0.090886
8  apple 2020-01-02  0.131147
9  apple 2016-01-03  0.147012

#  Update  Apple stock data

In [288]:
aapl = pd.read_csv("AAPL.csv")
aapl.info()
#change date type to  datetime64[ns]
aapl['Date']=pd.to_datetime(aapl['Date'])
aapl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9916 entries, 0 to 9915
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       9916 non-null   object
 1   Open       9915 non-null   float64
 2   High       9915 non-null   float64
 3   Low        9915 non-null   float64
 4   Close      9915 non-null   float64
 5   Adj Close  9915 non-null   float64
 6   Volume     9915 non-null   float64
dtypes: float64(6), object(1)
memory usage: 542.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9916 entries, 0 to 9915
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       9916 non-null   datetime64[ns]
 1   Open       9915 non-null   float64
 2   High       9915 non-null   float64
 3   Low        9915 non-null   float64
 4   Close      9915 non-null   float64
 5   Adj Close  9915 non-null   float64
 6   Volume     9915 non-null   float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 542.4 KB

In [289]:
#sentiment scores :start date is 2016-1-1, end date is 2020-3-30
#stock data : start date is 1986-03-13, end date is 2020-4-9
mask = (aapl['Date'] > '2016-1-1') & (aapl['Date'] <= '2020-3-30')
aapl = aapl.loc[mask]
aapl.head(10)
#no stock data in 1-1 1-2 1-3,etc, so keep all left dataframe when merge.  
aapl = aapl.merge(df_aapl, how='left', on='Date')  # Add Wiki_views column from Wikipedia API
aapl.head(10)
print(aapl[-10:])

#replace NaN value with 0
aapl['Polarity'] = aapl['Polarity'].fillna(0)
#save as new csv
aapl.to_csv ('new_aapl.csv', header=True)

           Date        Open        High         Low       Close   Adj Close  \
1057 2020-03-17  247.509995  257.609985  238.399994  252.860001  252.860001
1058 2020-03-18  239.770004  250.000000  237.119995  246.669998  246.669998
1059 2020-03-19  247.389999  252.839996  242.610001  244.779999  244.779999
1060 2020-03-20  247.179993  251.830002  228.000000  229.240005  229.240005
1061 2020-03-23  228.080002  228.500000  212.610001  224.369995  224.369995
1062 2020-03-24  236.360001  247.690002  234.300003  246.880005  246.880005
1063 2020-03-25  250.750000  258.250000  244.300003  245.520004  245.520004
1064 2020-03-26  246.520004  258.679993  246.360001  258.440002  258.440002
1065 2020-03-27  252.750000  255.869995  247.050003  247.740005  247.740005
1066 2020-03-30  250.740005  255.520004  249.399994  254.809998  254.809998

           Volume   Type  Polarity
1057   81014000.0  apple  0.093725
1058   75058400.0  apple  0.116953
1059   67964300.0  apple  0.164178
1060  100423300.0  apple  0.106142
1061   84188200.0  apple  0.134402
1062   71882800.0  apple  0.113539
1063   75900500.0  apple  0.206874
1064   63021800.0  apple  0.203935
1065   51054200.0  apple  0.132732
1066   41994100.0  apple  0.082504

# update msft stock data

In [290]:
df_msft = pd.read_csv("sentiment_msft.csv")
df_msft['Date'] = pd.to_datetime(df_msft['Date'])


msft = pd.read_csv("MSFT.csv")
msft['Date']=pd.to_datetime(msft['Date'])


mask = (msft['Date'] > '2016-1-1') & (msft['Date'] <= '2020-3-30')
msft = msft.loc[mask] 
msft = msft.merge(df_msft, how='left', on='Date') 
#replace NaN value with 0
msft['Polarity'] = msft['Polarity'].fillna(0)
msft.to_csv ('new_msft.csv', header=True)